@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Poppins", sans-serif;
}
@layer base {
  img {
    display: initial;
  }

  :root {
    --vis-axis-grid-color: var(--ui-border-muted) !important;
  }
}

html {
  font-size: 14px;
}
