@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Poppins", sans-serif;
}
@layer base {
  img {
    display: initial;
  }
}

html {
  font-size: 14px;
}
